@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalizzazioni */
body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}

textarea::placeholder {
  color: #9ca3af;
}
html,
body {
  overflow-x: hidden;
}

h1, h2, h3, p, textarea {
  word-break: break-word;
}

textarea {
  line-height: 1.4;
}
